<section class="osahan-slider">
  <div class="slider-form inner-page-form map-slider-form">
 <div class="container">
      <form>
        <div class="row no-gutters">
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="input-group">
              <div class="input-group-addon"><i class="mdi mdi-map-marker-multiple"></i></div>
              <select class="form-control select2" name="location">
                <option disabled="" selected="">Any Location</option>
                <option>Australia</option>
                <option>Brazil</option>
                <option>Cambodia</option>
                <option>Dominica</option>
                <option>France</option>
                <option>Guyana</option>
                <option>Hong Kong</option>
                <option>Ireland</option>
                <option>Japan</option>
                <option>Malaysia</option>
                <option>Nepal</option>
                <option>Oman</option>
                <option>Peru</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="input-group">
              <div class="input-group-addon"><i class="mdi mdi-city"></i></div>
              <select class="form-control select2" name="location">
                <option disabled="" selected="">Any Status</option>
                <option>Heigh </option>
                <option>Midium</option>
                <option>Normal</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="input-group">
              <div class="input-group-addon"><i class="mdi mdi-home-modern"></i></div>
              <select class="form-control select2" name="location">
                <option disabled="" selected="">Any Type</option>
                <option>Property Types</option>
                <option value="">House/Villa</option>
                <option value="">Flat</option>
                <option value="">Plot/Land</option>
                <option value="">Office Space</option>
                <option value="">Shop/Showroom</option>
                <option value="">Commercial Land</option>
                <option value="">Warehouse/ Godown</option>
                <option value="">Industrial Building</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="input-group">
              <div class="input-group-addon"><i class="mdi mdi-hotel"></i></div>
              <select class="form-control select2" name="location">
                <option disabled="" selected="">Min. Bedrooms</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="input-group">
              <div class="input-group-addon"><i class="mdi mdi-magnify-minus-outline"></i></div>
              <select class="form-control select2" name="location">
                <option disabled="" selected="">Min Size</option>
                <option>100</option>
                <option>200</option>
                <option>300</option>
                <option>400</option>
                <option>500</option>
                <option>600</option>
                <option>700</option>
                <option>800</option>
                <option>900</option>
                <option>1000</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="input-group">
              <div class="input-group-addon"><i class="mdi mdi-magnify-plus-outline"></i></div>
              <select class="form-control select2" name="location">
                <option disabled="" selected="">Max Size</option>
                <option>1000</option>
                <option>2000</option>
                <option>3000</option>
                <option>4000</option>
                <option>5000</option>
                <option>6000</option>
                <option>7000</option>
                <option>8000</option>
                <option>9000</option>
                <option>10000</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="input-group">
              <div class="input-group-addon"><i class="mdi mdi-hot-tub"></i></div>
              <select class="form-control select2" name="location">
                <option disabled="" selected="">Baths</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="input-group">
              <button type="submit" class="btn btn-success btn-block no-radius font-weight-bold">SEARCH</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
