<section class="section-padding">
  <div class="container">
    <div class="row">
      <div *ngIf="isLoggedIn()" class="col-lg-8 col-md-8 mx-auto">

        <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
               accept=".csv" />

        <!--<label>
          Parse Headers?
        </label>
        <select aria-placeholder="Parse headers?" [(ngModel)]="header">
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>-->
      </div>
      <div *ngIf="isLoggedIn()" class="col-lg-8 col-md-8 mx-auto">
        <div class="card padding-card">
          <div class="card-body">
            <p *ngFor="let csvData of csvRecords;let i = index;">

              json{{csvData[i]}}
            </p>


            <div class="table">

              <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>propertyTitle</th>
                    <th>Area</th>
                    <th>Capacity</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>ParkingSpace</th>
                    <th>EquipmentFax</th>
                    <th>EquipmentCoffe</th>
                    <th>EquipmentPs4</th>
                    <th>EquipmentMarshall</th>
                    <th>EquipmentKitchen</th>
                    <th>AmenitiesNoSrairs</th>
                    <th>AmenietiesEasyAccessParking</th>
                    <th>AmenitiesWideDors</th>
                    <th>AmenitiesElevator</th>
                    <th>AmenitiesToilet</th>
                    <th>ActivitiesMeetings</th>
                    <th>AcivitiesMusicBands</th>
                    <th>ActivitiesRolePlayingGames</th>
                    <th>ActivitiesRelaxation</th>
                    <th>ActivitiesCoWorking</th>
                    <th>RoomArrangementCapabilities</th>
                    <th>Photos</th>
                    <th>LocationCountry</th>
                    <th>LocationCity</th>
                    <th>LocationPostaCode</th>
                    <th>LocationStreet</th>
                    <th>LocationBuildingNumber</th>
                    <th>LocationApartmentNumber</th>
                    <th>LocationOtherInformation</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let csvData of csvRecords;let i = index;">

                    <td>{{i+1}}</td>
                    <td><span>{{csvData.propertyTitle}}</span></td>
                    <td><span>{{csvData.Area}}</span></td>
                    <td><span>{{csvData.Capacity}}</span></td>
                    <td><span>{{csvData.Price}}</span></td>
                    <td><span>{{csvData.Description}}</span></td>
                    <td><span>{{csvData.ParkingSpace}}</span></td>
                    <td><span>{{csvData.EquipmentFax}}</span></td>
                    <td><span>{{csvData.EquipmentCoffe}}</span></td>
                    <td><span>{{csvData.EquipmentPs4}}</span></td>
                    <td><span>{{csvData.EquipmentMarshall}}</span></td>
                    <td><span>{{csvData.EquipmentKitchen}}</span></td>
                    <td><span>{{csvData.AmenitiesNoSrairs}}</span></td>
                    <td><span>{{csvData.AmenitiesEasyAccessParking}}</span></td>
                    <td><span>{{csvData.AmenitiesWideDoors}}</span></td>
                    <td><span>{{csvData.AmenitiesElevator}}</span></td>
                    <td><span>{{csvData.AmenitiesToilet}}</span></td>
                    <td><span>{{csvData.ActivitiesMeetings}}</span></td>
                    <td><span>{{csvData.ActivitiesMusicBands}}</span></td>
                    <td><span>{{csvData.ActivitiesRolePlayingGames}}</span></td>
                    <td><span>{{csvData.ActivitiesRelaxation}}</span></td>
                    <td><span>{{csvData.ActivitiesCoWorking}}</span></td>
                    <td><span>{{csvData.RoomArrangementCapabilities}}</span></td>
                    <td><span>{{csvData.Photos}}</span></td>
                    <td><span>{{csvData.LocationCountry}}</span></td>
                    <td><span>{{csvData.LocationCity}}</span></td>
                    <td><span>{{csvData.LocationPostaCode}}</span></td>
                    <td><span>{{csvData.LocationStreet}}</span></td>
                    <td><span>{{csvData.LocationBuildingNumber}}</span></td>
                    <td><span>{{csvData.LocationApartmentNumber}}</span></td>
                    <td><span>{{csvData.LocationOtherInformation}}</span></td>


                  </tr>
                </tbody>
              </table>

              <div *ngIf="csvRecords.length > 0">
                <button class="btn btn-light" (click)="addRooms()">Add rooms from csv to db</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isLoggedIn()" class="col-lg-8 col-md-8 mx-auto">
        <h1 class="text-danger">You do not have access to get rooms from csv</h1>
      </div>
    </div>
  </div>
</section>
