<script src="../../assets/js/custom.js" defer></script>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light on-top">
    <div class="container">
      <a class="navbar-brand text-success logo" [routerLink]="['/rooms']"><i class="mdi mdi-home-map-marker"></i> <strong>Shiny</strong>Booking</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 margin-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/rooms']">
              Rooms
            </a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" [routerLink]="['/rooms/new']">
              Add New Room
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PLACEHOLDER
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="agency-list.html">Agency List</a>
              <a class="dropdown-item" href="agency-profile.html">Agency Profile</a>
              <a class="dropdown-item" href="agents.html">Agents</a>
              <a class="dropdown-item" href="agent-profile.html">Agent Profile</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PLACEHOLDER
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="blog.html">Blog</a>
              <a class="dropdown-item" href="blog-single.html">Blog Single</a>
            </div>
          </li>
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" *ngIf="isLoggedIn()" href="#" id="5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Logged in
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="user-profile.html">User Profile</a>
              <a class="dropdown-item" href="social-profiles.html">Social Profiles</a>
              <a class="dropdown-item" href="my-properties.html">My Properties</a>
              <a class="dropdown-item" href="favorite-properties.html">Favorite Properties</a>
              <a class="dropdown-item" href="add-property.html">Add Property</a>
            </div>
          </li>
        </ul>
        <div class="my-2 my-lg-0">
          <ul class="list-inline main-nav-right">
            <li class="list-inline-item" *ngIf="!isLoggedIn()">
              <a class="btn btn-link btn-sm" [routerLink]="['/login']">Sign In</a>
            </li>
            <li class="list-inline-item" *ngIf="!isLoggedIn()">
              <a class="btn btn-success btn-sm" [routerLink]="['/register']">Sign Up</a>
            </li>
            <li class="list-inline-item" *ngIf="isLoggedIn()">
              <a class="btn btn-success btn-sm" style="cursor: default;">Logged in as {{ getLoggedUserName() }}</a>
            </li>
            <li class="list-inline-item" *ngIf="isLoggedIn()">
              <a class="btn btn-outline-warning btn-sm" (click)="onLogout()" [routerLink]="['/rooms']">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

</header>
