<div class="card">
    <a href="#">
      <img class="card-img-top"
           src="https://res.cloudinary.com/abbw/image/upload/v1584469681/adfsadfasdfasdf/vyuaasowvji94loq06rx.jpg"
           alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{room.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <i class="mdi mdi-home-map-marker"></i> Marszałkowska 14, 25-260, Warsaw, Poland
        </h6>
        <h2 class="text-success mb-0 mt-3">
          ${{room.price}} <small>/day</small>
        </h2>
      </div>
      <div class="card-footer">
        <span><i class="mdi mdi-sofa"></i> Beds : <strong>6</strong></span>
        <span><i class="mdi mdi-scale-bathroom"></i> Baths : <strong>4</strong></span>
        <span><i class="mdi mdi-move-resize-variant"></i> Area : <strong>987 sq ft</strong></span>
      </div>
    </a>
</div>


