<div class="card">
    <a href="#" [routerLink]="['/rooms/', room.id]">
      <img class="card-img-top"
           src="{{room.mainPhotoUrl}}"
           alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{room.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <i class="mdi mdi-home-map-marker"></i> {{room.roomAddress?.street | titlecase}} {{room.roomAddress?.buildingNumber}}, {{room.roomAddress.postalCode}}, {{room.roomAddress.city}}, {{room.roomAddress.country}}
        </h6>
        <h2 class="text-success mb-0 mt-3">
          ${{room.price}} <small>/day</small>
        </h2>
      </div>
      <div class="card-footer">
        <span><i class="mdi mdi-wifi"></i><strong>Wi-Fi </strong></span>
        <span><i class="mdi mdi-scale-bathroom"></i><strong>N/A </strong></span>
        <span><i class="mdi mdi-move-resize-variant"></i><strong>N/A </strong></span>
      </div>
    </a>
</div>


